<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1 style="text-align: center;">Weather Forecast Table & Charts</h1>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <h4 style="text-align:right">Please input the start date:</h4>
        </div>
        <div class="col-lg-4">
          <form class="row row-cols-sm-auto">
            <div class="col-12">
              <div class="input-group">
                <input
                  class="form-control"
                  [placeholder]="maxDate.year+'-'+maxDate.month+'-'+maxDate.day"
                  name="dp"
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  [(ngModel)]="datepick"
                  ngbDatepicker
                  readonly
                  (ngModelChange)="changeDate($event)"
                  #d="ngbDatepicker"
                />
                <button
                  class="btn btn-outline-secondary calendar"
                  (click)="d.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
          </form>

          <hr />
          <!-- <pre>Model: {{ date | json }}</pre> -->
        </div>
        <div class="col-lg-4">
          <button
            type="button"
            class="btn btn-outline-primary btn-lg"
            (click)="refresh()"
          >
            Clear
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <app-weather-table [rowData]="forecasts"></app-weather-table>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <app-weather-chart [chartData]="forecasts"></app-weather-chart>
        </div>
      </div>
    </div>

    <p>
      * According to
      <a href="https://data.gov.sg/dataset/weather-forecast"
        >Weather Forecast-Data.gov.sg</a
      >, the data from 2022-01-20 to 2022-01-28 is missing
    </p>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
